.jumbotron{
  background-color: #5F9EA0;
  color: black;
  margin-top: 50px;
}

/* .btn{
  background-color: #B0C4DE;
  color: #000000;
} */

footer{
  padding: 10px 20px 0 20px;
  background-color: #5F9EA0;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-receta{
  flex: 1 250px;
  margin-top: 10px;
}

.btn-ver {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}
