@yellow: #dbd256;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
}

/* .btn{
  background-color: #B0C4DE;
  color: #000000;
} */
footer {
  padding: 10px 20px 0 20px;
  background-color: @yellow;
  .margenes(10px, 0px);
}


.card-receta {
  flex: 1 250px;
  .margenes(10px, 0px);
}

.btn-ver {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }
