.jumbotron {
  background-color: #ffff65;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

/* .btn{
  background-color: #B0C4DE;
  color: #000000;
} */
footer {
  padding: 10px 20px 0 20px;
  background-color: #ffff65;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-receta {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-ver {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }
